[Unit]
Description=probe-rs cmd server 
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/probe-rs serve
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target